<div class="carousel-container">
    <!-- Layout 1 -->
    <div class="grid-container layout-1">
        <div class="card card-1">
            <div class="card-content">
                <h1>Clean code.<br><em>Thoughtful design.</em> <br> No fluff.</h1>
            </div>
        </div>

        <div class="card card-2">
            <div class="card-content">
                <h1>Projects</h1>
            </div>
        </div>

        <div class="card card-3">
            <div class="card-content">
                <p>Hi, <br>I’m a developer and consultant based in Oslo. My work ranges from building web apps to helping teams manage cloud and on-prem systems, mainly with Azure. I care about writing clean code, solving the right problems, and being someone people can rely on in complex projects.</p>
            </div>
        </div>

        <div class="card card-4">
            <div class="card-content"></div>
        </div>

        <div class="card card-5">
            <a href="mailto:adrian10hammer@gmail.com" class="mailto">
            <div class="card-content">
                <h2>Have some questions?</h2>
                <p></p>
                <img src="pics/figure.png" alt="lol" class="figurine">
            </div>
            </a>
        </div>
        <div class="card card-6">
            <div class="card-content">
                <a href="https://github.com/Adrianhammer" target="_blank" aria-label="GitHub">
                    GitHub
                </a>
                <a href="https://www.linkedin.com/in/adrianhammer/" target="_blank" aria-label="LinkedIn">
                    LinkedIn
                </a>
            </div>
        </div>

    </div>


<div class="grid-container layout-2">
    <div class="card card-1">
            <div class="card-content">
                <h1>Small apps.<br><em>Built well.</em> <br> That´s the goal.</h1>
            </div>
        </div>

        <div class="card card-2">
            <div class="card-content">
                <h1>Projects</h1>
            </div>
        </div>

        <div class="card card-3">
            <div class="card-content">
                <p>Hi, <br>I’m a developer and consultant based in Oslo. My work ranges from building web apps to helping teams manage cloud and on-prem systems, mainly with Azure. I care about writing clean code, solving the right problems, and being someone people can rely on in complex projects.</p>
            </div>
        </div>

        <div class="card card-4">
            <div class="card-content"></div>
        </div>

        
        <div class="card card-5">
            <a href="mailto:adrian10hammer@gmail.com" class="mailto">
                <div class="card-content">
                    <h3>Contact me</h3>
                </div>
            </a>
        </div>

        <div class="card card-6">
            <div class="card-content">
                <a href="https://github.com/Adrianhammer" target="_blank" aria-label="GitHub">
                    GitHub
                </a>
                <a href="https://www.linkedin.com/in/adrianhammer/" target="_blank" aria-label="LinkedIn">
                    LinkedIn
                </a>
            </div>
        </div>
    </div>
</div>
