<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, Adrian Hammer is a consultant specializing in ASP.NET and cloud platforms."/>
    <title>@ViewData["Title"] - Portfolio</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <!-- CLI Icon -->
    <link rel="icon" type="image/x-icon" href="~/icons/favicon.ico" asp-append-version="true" />
</head>

<body>
<header>
    <nav>
        <div class="logo-group">
            <div class="logo">ADRIAN HAMMER</div>
            <button
                type="button"
                class="logo-button layout-1 layout-2" 
                id="style-button"
                aria-label="Change style"
            ></button>
        </div>

        <!-- Fjerna top nav tekst, så mer clean ut, rydd opp senere -->
        <div class="nav-links">
            <a href="https://github.com/Adrianhammer" target="_blank"></a>
            <a href="#about"></a>
            <a href="mailto:adrian10hammer@gmail.com"></a>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
    </div>
</footer>

<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>