@page
@model IndexModel
@{
    ViewData["Title"] = "Adrian Hammer";
}

<main class="carousel-wrapper">
    <partial name="_Cards" />
    <script src="~/js/Box2.js" asp-append-version="true"></script>
</main>